.carouselContainer {
    position: relative;
    width: 100%;
    /* padding: 70px 0; */
    height: auto;
    overflow: hidden;
  }
  
  .carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .image, .video {
    width: 100%; /* Full width for images and videos */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
  }

  .navigationContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15%;
    width: 100%;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    background-color: #0000007a;
    border-radius: 50px;
    padding: 1em 0;
    width: 60%;
    gap: 10px;
    margin-top: 15px;
  }
  
  .navItem {
    cursor: pointer;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .navItem:hover {
    transform: scale(1.1);
  }
  
  .active {
    border: 2px solid #fff;
  }
  
  .thumbImage, .thumbVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  @media screen and (max-width: 600px) {
    .navigationContainer {
      display: none;
    }
  }