/* Global Styles */
.container {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Order Confirmation Styles */
  .order-confirmation {
    text-align: center;
  }
  
  .confirmation-icon {
    background-color: #00ff9c;
    border-radius: 50%;
    padding: 2rem;
    margin-bottom: 2rem;
  }
  
  .confirmation-icon img {
    width: 3rem;
    height: 3rem;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .message {
    margin-bottom: 2rem;
  }
  
  .actions .btn {
    display: inline-block;
    background-color: #00ff9c;
    color: #141414;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0 0.5rem;
  }
  
  .actions .btn:hover {
    background-color: #00d486;
  }