.container {
    padding: 100px 60px;
    margin: 0 auto;
}

.container-of-all {
    display: flex;
    width: 100%;
    gap: 50px;
}

.feel-free-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
}

.send-us-email,
.need-any-help {
    font-size: 20px;
    color: rgb(0, 192, 115);
}

.feel-free-to-write,
.get-in-touch-with-us {
    font-size: 40px;
    margin-bottom: 50px;
    color: rgb(210, 210, 210);
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.info-input {
    width: 50%;
    margin-right: 20px;
    padding: 15px 25px;
    background: rgb(26, 26, 26);
    color: #fff;
    border: 1px solid rgb(0, 97, 58);
    border-radius: 20px;
    box-sizing: border-box;
}

.info-input:focus {
    outline: 1px solid rgb(0, 192, 115);
}

.message-input {
    height: 150px;
    width: 100%;
    resize: none;
    margin-bottom: 30px;
}

.feel-free-buttons-container {
    display: flex;
    gap: 1em;
    width: 50%;
}

.send-btn,
.reset-btn {
    width: 100%;
    height: 50px;
    margin-right: 20px;
    background-color: rgb(0, 97, 58);
    color: white;
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.send-btn:hover,
.reset-btn:hover {
    background-color: rgb(0, 192, 115);
}

.reset-btn {
    width: 40%;
}

.reset-btn:hover,
.send-btn:hover {
    background-color: rgb(0, 122, 73);
}

.get-in-touch-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.get-in-touch-with-us {
    margin-bottom: 15px;
}

.get-in-touch-paragraph {
    font-size: 15px;
    color: rgb(150, 150, 150);
    width: 80%;
    line-height: 25px;
    margin-bottom: 30px;
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 60px;
    width: 60px;
    color: white;
    background-color: rgb(0, 97, 58);
    border-radius: 20px;
    margin-right: 20px;
    transition: background-color 0.3s ease-in-out;
}

.media-icons:hover {
    background-color: rgb(0, 122, 73);
}

.media-container {
    display: flex;
    margin-bottom: 20px;
}

.media-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
}

.get-in-touch-span0 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.get-in-touch-span1 {
    font-size: 15px;
    color: rgb(150, 150, 150);
}

@media only screen and (max-width: 1000px) {
    .container-of-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .feel-free-container {
        margin-bottom: 50px;
        width: 100%;
    }

    .get-in-touch-container {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        padding: 150px 20px;
    }

    .container-of-all {
        width: 100%;
    }

    .info-input {
        margin-right: 10px;
        font-size: 15px;
        width: 100%;
    }

    .input-container {
        margin-bottom: 10px;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .message-input {
        width: calc(100% - 10px);
    }

    .feel-free-buttons-container {
        width: 100%;
    }

    .send-btn,
    .reset-btn {
        margin: 0px;
        width: 100%;
        font-size: 15px;
        height: 50px;
    }
}

@media screen and (max-width: 350px) {
    .feel-free-buttons-container {
        flex-direction: column;
    }
}