.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  background-color: black;
  padding: 4em 0;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 1em;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  color: white;
}

.icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.category:hover {
  transform: scale(1.2);
}

.category:active {
  transform: scale(1.2);
}

.active {
  transform: scale(1.2);

  .icon {
    background-color: rgb(0, 228, 137);
  }
}

.name {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .category {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .icon {
    width: 50px;
    height: 50px;
  }

  .name {
    font-size: 12px;
  }
}