.container {
    padding: 15px 0 10px 0;
    max-width: 1100px;
    margin: auto;
}

.titleContainer {
    display: flex;
    width: 100%;
    height: 100px;
    color: white;
}

.loadMoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.loadMore {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #757575;
    background-color: transparent;
    border: none;
    /* Gray text */
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}


.loadMore:hover {
    span {
        animation: spin 1.2s linear infinite;
    }
}

/* Spinner animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.productContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    /* Space between the cards */
    padding: 20px;
}

@media (max-width: 768px) {
    .productContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .productContainer {
        grid-template-columns: 1fr;
        /* Stacks cards on smaller screens */
        gap: 10px;
    }
}