body { /*done for overview! To be removed.*/
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(26, 26, 26);
} 

.container-of-all {
    display: flex;
    width: 80%;
    height: fit-content;
}

.feel-free-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
}

.send-us-email, .need-any-help {
    font-size: 20px;
    color: rgb(0, 192, 115);
}

.feel-free-to-write, .get-in-touch-with-us {
    font-size: 40px;
    margin-bottom: 50px;
    color: rgb(210, 210, 210);
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.info-input {
    width: 50%;
    margin-right: 20px;
    padding: 15px 25px;
    background: rgb(26, 26, 26);
    color: #fff;
    border: 1px solid rgb(0, 97, 58);
    border-radius: 20px;
}

.info-input:focus {outline: 1px solid rgb(0, 192, 115);}

.message-input {
    height: 150px;
    width: calc(100% - 20px);
    resize: none;
    margin-bottom: 30px;
}

.feel-free-buttons-container {
    display: flex;
    width: 60%;
}

.send-btn, .reset-btn {
    width: 60%;
    height: 60px;
    margin-right: 20px;
    background-color: rgb(0, 192, 115);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}

.reset-btn {width: 40%;}

.reset-btn:hover, .send-btn:hover {background-color: rgb(0, 122, 73);}

.get-in-touch-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.get-in-touch-with-us {margin-bottom: 15px;}

.get-in-touch-paragraph {
    font-size: 15px;
    color: rgb(150, 150, 150);
    width: 80%;
    line-height: 25px;
    margin-bottom: 30px;
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 80px;
    width: 80px;
    color: white;
    background-color: rgb(0, 97, 58);
    border-radius: 20px;
    margin-right: 20px;
}

.media-container {
    display: flex;
    margin-bottom: 20px;
}

.media-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
}

.get-in-touch-span0 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.get-in-touch-span1 {
    font-size: 15px;
    color: rgb(150, 150, 150);
}

@media only screen and (max-width: 1000px) {
    .container-of-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .feel-free-container {
        margin-bottom: 50px;
        width: 100%;
    }

    .get-in-touch-container {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .info-input {
        margin-right: 10px;
        font-size: 15px;
    }
    .input-container {margin-bottom: 10px;}
    .message-input {width: calc(100% - 10px);}
    .feel-free-buttons-container {
        width: 100%;
    }
    .send-btn, .reset-btn {
        margin: 0px 10px;
        width: 50%; 
        font-size: 15px; 
        height: 50px;
    }
}