/* Palette */
/* ////////////////////////// */
    /* green ====> color: rgb(0, 228, 137); */
    /* gray ====> color: rgb(255, 255, 255, .1); */
/* ////////////////////////// */




body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows for Firefox */
input[type="number"] {
  appearance: textfield;
}

input:focus {
  outline: none;
}


.App {
  font-family: 'Proxima Nova', sans-serif;
}

:root {
  --color-green: rgb(0, 228, 137);
  --color-gray: rgba(255, 255, 255, 0.1);
  --color-white: #ffffff;
  --color-black: #000000;
}