/* Palette */
/* ////////////////////////// */
    /* green ====> color: rgb(0, 228, 137); */
    /* gray ====> color: rgb(255, 255, 255, .1); */
/* ////////////////////////// */

:root {
  --color-green: rgb(0, 228, 137); /* to hex code: #00ff9d */
  --color-greenHover: rgb(1, 146, 88);
  --color-gray: rgba(255, 255, 255, 0.1);
  --color-white: #ffffff;
  --color-black: #000000af;
}


/* testing witht he problem of icons in material symbols */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


body {
  margin: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

video{
  pointer-events: none;
}

/* Remove arrows for Firefox */
input[type="number"] {
  appearance: textfield;
}

input:focus {
  outline: none;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.light{
  color: #111 !important;
}

.dark{
  color: #fff !important;
}