body { /*done for overview! To be removed.*/
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(26, 26, 26);
} 

.modify-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: fit-content;
    gap: 50px;
    width: 800px;
    margin: 50px;
    border-radius: 30px;
    border: 1px solid rgb(64, 64, 64);
    padding: 50px;
    color: rgb(216, 216, 216);
    background-color: rgb(34, 34, 34);
}

.modify-sub-titles {
    color: rgb(0, 228, 137);
    font-size: 25px;
    font-weight: 600;
}

.modify-inputs-sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid rgb(64, 64, 64);
}

.modify-input {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(0, 102, 61);
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
}

.modify-input:focus {
    outline: 1px solid rgb(0, 228, 137);
}

.modify-textarea {
    resize: none;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.save-modify {
    background-color: gray; /*Turns to green and enabled when admin enters an input*/
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
}

.modify-icon-input {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(0, 102, 61);
    border-radius: 30px;
    padding: 10px 20px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.drag-new-favicon-span {
    font-size: 18px;
    color: rgb(150, 150, 150);
}

.icon {
    opacity: 0;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    .modify-container {
        gap: 20px;
        padding: 50px 20px;
        margin: 20px;
    }

    .modify-sub-titles {
        font-size: 15px;
    }

    .modify-input {
        font-size: 12px;
    }

    .drag-new-favicon-span {
        font-size: 12px;
    }

    .modify-icon-input {
        height: 50px;
    }

    .modify-textarea {
        height: 80px;
    }

    .save-modify {
        font-size: 15px;
    }
}