.searchBarContainer {
    position: absolute;
    top: 0;
    right: 30px;
    width: 0;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1;
  }
  
  .searchBarContainer.active {
    width: 100%;
  }
  
  .searchBar {
    width: 80%;
    /* max-width: 600px; */
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  
  .searchInput {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border: none;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    outline: none;
  }

  .searchInput, .searchBar{
    background-color: transparent;
  }

  .searchIcon, .closeIcon {
    color: rgb(0, 228, 137);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .icons:hover{
    transform: scale(1.1);
  }










